
@{
	ViewBag.Title = "EfteregistrerTid";
}

<h2>Efterregistrer Tid</h2>

<p>Vælg laug: </p>

<select class="form-control">
	@foreach (var item in ViewBag.LaugListe)
	{
		<option>@item.Navn</option>
	}
</select>
<br/>
<input type="range" min="1" max="24" value="12" onchange="showValue(this.value)" /> @*skal ændres til tekstboks*@
Antal timer: <span id="range">12</span>
<br/><br/>
<button class="btn btn-primary">Efterregistrer</button>

<script type="text/javascript">
function showValue(newValue)
{
	document.getElementById("range").innerHTML=newValue;
}
</script>