@model RingkoebingSkjern.Models.Tidsregistrering
@{
    ViewBag.Title = "RegistrerTid";
}
<title>Registrér Tid</title>

<h2>Registrér Tid</h2>

<p>Vælg laug: </p>
<select class="form-control">
    @foreach (var item in ViewBag.LaugListe)
    {
        <option id="valgtLaug">@item.Navn</option>
    }
</select>

@{
    using (Html.BeginForm("RegistrerTid", "Home", FormMethod.Post))
    {
        <label>Frivillig Id</label>
        @Html.TextBoxFor(m => m.FrivilligId)
        <br />
        <label>Laug Id</label>
        @Html.TextBoxFor(m => m.LaugId, new {@Value =  })
        <br />
        <label>Start Tid (YYYY-MM-DD HH:MM:SS)</label>
        @Html.TextBoxFor(m => m.StartTid, new { @Value = ViewBag.CurrentTime })
        <br />
        <input type="submit" value="Registrér" />

    }
}
@*<span>Fra kl. </span><span id="time"></span>*@

<script>
    var d = new Date(); // for now
    var timer = d.getHours(); // => 9
    var minutter = d.getMinutes(); // =>  30
    minutter = minutter > 9 ? minutter : '0' + minutter; //tilføj 0 hvis under 10
    document.getElementById('time').innerHTML = timer + ":" + minutter;

    function ReturnValgtLaug() {
        var value = $('.dropdown option:selected').val();
        
    }
</script>
