
@{
    ViewBag.Title = "Tidsregistrering";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class=".col-md-8">
        <br />
        <p class="text-center">Dette er tidsregstrering for frivillige hos RSM</p>
        <br />
        <button class="btn btn-success btn-block btn-lg">Start tidsreg</button>
        <button class="btn btn-danger btn-block btn-lg">Slut tidsreg</button>
    </div>
</body>
</html>


