
@{
    ViewBag.Title = "Tidsregistrering";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class=".col-md-8">
        <br />
        <p class="text-center">tidsregistrering for @ViewBag.user</p>
        <br />
        
        @if ()//er burgeren ikke igang med tidsreg
        {
        <button class="btn btn-success btn-block btn-lg">Start tidsreg</button>
        <button disabled class="btn btn-danger btn-block btn-lg">Slut tidsreg</button>
        }

        else // bruger har gang i tidsreg
        {
        <button disabled class="btn btn-success btn-block btn-lg">Start tidsreg</button>
        <button class="btn btn-danger btn-block btn-lg">Slut tidsreg</button>
        }
        

    </div>
</body>
</html>


